In [1]:
import geopandas as gpd
import pandas as pd
import matplotlib
import keplergl

states = gpd.read_file('./data/brazil-states.geojson')
fire_data = pd.read_csv('./data/amazon.csv')

pd.options.display.max_rows = 99999999999999

fire_data.head()

   year state    month  number        date
0  1998  Acre  Janeiro     0.0  1998-01-01
1  1999  Acre  Janeiro     0.0  1999-01-01
2  2000  Acre  Janeiro     0.0  2000-01-01
3  2001  Acre  Janeiro     0.0  2001-01-01
4  2002  Acre  Janeiro     0.0  2002-01-01

In [2]:
fire_data = fire_data[['date', 'state', 'number']]
fire_data.head()

         date state  number
0  1998-01-01  Acre     0.0
1  1999-01-01  Acre     0.0
2  2000-01-01  Acre     0.0
3  2001-01-01  Acre     0.0
4  2002-01-01  Acre     0.0

In [3]:
fire_data['date'] =  pd.to_datetime(fire_data['date'])

fire_data.dtypes

date      datetime64[ns]
state             object
number           float64
dtype: object

In [4]:
fire_data['state'].unique()

array(['Acre', 'Alagoas', 'Amapa', 'Amazonas', 'Bahia', 'Ceara',
       'Distrito Federal', 'Espirito Santo', 'Goias', 'Maranhao',
       'Mato Grosso', 'Minas Gerais', 'Par�', 'Paraiba', 'Pernambuco',
       'Piau', 'Rio', 'Rondonia', 'Roraima', 'Santa Catarina',
       'Sao Paulo', 'Sergipe', 'Tocantins'], dtype=object)

In [5]:
states = states[['name', 'geometry']]
states.head(30)

                   name                                           geometry
0                  Acre  MULTIPOLYGON (((-73.60818 -7.20194, -72.86963 ...
1               Alagoas  MULTIPOLYGON (((-35.46516 -8.82549, -35.46626 ...
2              Amazonas  MULTIPOLYGON (((-67.32553 2.03012, -67.32234 2...
3                 Amapá  MULTIPOLYGON (((-51.18168 4.00889, -51.17900 3...
4                 Bahia  MULTIPOLYGON (((-39.28820 -8.56290, -39.28229 ...
5                 Ceará  MULTIPOLYGON (((-40.01804 -2.83698, -40.00587 ...
6        Espírito Santo  MULTIPOLYGON (((-40.72383 -20.84178, -40.72804...
7                 Goiás  MULTIPOLYGON (((-50.15776 -12.41195, -50.15901...
8              Maranhão  MULTIPOLYGON (((-47.03102 -8.98549, -47.02113 ...
9          Minas Gerais  MULTIPOLYGON (((-44.20886 -14.24413, -44.20871...
10   Mato Grosso do Sul  MULTIPOLYGON (((-53.87406 -17.92178, -53.87182...
11          Mato Grosso  MULTIPOLYGON (((-60.36083 -13.29932, -60.36033...
12                 Pará  MULTIPOLYGON (((-46.95145 -0.73406, -46.95624 ...
13              Paraíba  MULTIPOLYGON (((-37.22677 -6.03464, -37.22228 ...
14           Pernambuco  MULTIPOLYGON (((-37.17654 -7.30917, -37.16811 ...
15                Piauí  MULTIPOLYGON (((-41.73868 -2.80558, -41.73440 ...
16               Paraná  MULTIPOLYGON (((-52.06416 -22.53384, -52.05556...
17       Rio de Janeiro  MULTIPOLYGON (((-44.51273 -23.29293, -44.51640...
18  Rio Grande do Norte  MULTIPOLYGON (((-37.15172 -4.93536, -37.13311 ...
19             Rondônia  MULTIPOLYGON (((-66.45889 -9.87524, -66.46301 ...
20              Roraima  MULTIPOLYGON (((-59.91635 3.14592, -59.91256 3...
21    Rio Grande do Sul  MULTIPOLYGON (((-52.04367 -31.57374, -52.03627...
22       Santa Catarina  MULTIPOLYGON (((-53.72045 -26.55991, -53.72407...
23              Sergipe  MULTIPOLYGON (((-37.96006 -9.53282, -37.91674 ...
24            São Paulo  MULTIPOLYGON (((-46.13772 -23.85888, -46.13327...
25            Tocantins  MULTIPOLYGON (((-47.03296 -8.98232, -47.03102 ...
26     Distrito Federal  MULTIPOLYGON (((-47.30861 -16.03549, -47.31095...

In [6]:
# TODO: rename no accent state/name with accent in fire_data
# array(['Amapa', 'Ceara', 'Espirito Santo', 'Goias', 'Maranhao', 'Par�',
#       'Paraiba', 'Piau', 'Rio', 'Rondonia', 'Sao Paulo'], dtype=object)

fire_data.loc[fire_data['state'] == 'Amapa', 'state'] = 'Amapá'
fire_data.loc[fire_data['state'] == 'Ceara', 'state'] = 'Ceará'
fire_data.loc[fire_data['state'] == 'Espirito Santo', 'state'] = 'Espírito Santo'
fire_data.loc[fire_data['state'] == 'Goias', 'state'] = 'Goiás'
fire_data.loc[fire_data['state'] == 'Maranhao', 'state'] = 'Maranhão'
fire_data.loc[fire_data['state'] == 'Par�', 'state'] = 'Pará'
fire_data.loc[fire_data['state'] == 'Paraiba', 'state'] = 'Paraíba'
fire_data.loc[fire_data['state'] == 'Piau', 'state'] = 'Piauí'
fire_data.loc[fire_data['state'] == 'Rio', 'state'] = 'Rio de Janeiro'
fire_data.loc[fire_data['state'] == 'Rondonia', 'state'] = 'Rondônia'
fire_data.loc[fire_data['state'] == 'Sao Paulo', 'state'] = 'São Paulo'


fire_data.head(500)

          date    state   number
0   1998-01-01     Acre    0.000
1   1999-01-01     Acre    0.000
2   2000-01-01     Acre    0.000
3   2001-01-01     Acre    0.000
4   2002-01-01     Acre    0.000
5   2003-01-01     Acre   10.000
6   2004-01-01     Acre    0.000
7   2005-01-01     Acre   12.000
8   2006-01-01     Acre    4.000
9   2007-01-01     Acre    0.000
10  2008-01-01     Acre    0.000
11  2009-01-01     Acre    0.000
12  2010-01-01     Acre    1.000
13  2011-01-01     Acre    0.000
14  2012-01-01     Acre    0.000
15  2013-01-01     Acre    0.000
16  2014-01-01     Acre    0.000
17  2015-01-01     Acre    1.000
18  2016-01-01     Acre   12.000
19  2017-01-01     Acre    0.000
20  1998-01-01     Acre    0.000
21  1999-01-01     Acre    0.000
22  2000-01-01     Acre    0.000
23  2001-01-01     Acre    0.000
24  2002-01-01     Acre    1.000
25  2003-01-01     Acre    0.000
26  2004-01-01     Acre    3.000
27  2005-01-01     Acre    0.000
28  2006-01-01     Acre    0.000
29  2007-01-01     Acre    5.000
30  2008-01-01     Acre    0.000
31  2009-01-01     Acre    2.000
32  2010-01-01     Acre    0.000
33  2011-01-01     Acre    0.000
34  2012-01-01     Acre    0.000
35  2013-01-01     Acre    0.000
36  2014-01-01     Acre    0.000
37  2015-01-01     Acre    2.000
38  2016-01-01     Acre    5.000
39  2017-01-01     Acre    1.000
40  1998-01-01     Acre    0.000
41  1999-01-01     Acre    0.000
42  2000-01-01     Acre   11.000
43  2001-01-01     Acre    0.000
44  2002-01-01     Acre    0.000
45  2003-01-01     Acre    0.000
46  2004-01-01     Acre    0.000
47  2005-01-01     Acre    3.000
48  2006-01-01     Acre    0.000
49  2007-01-01     Acre    2.000
50  2008-01-01     Acre    0.000
51  2009-01-01     Acre    1.000
52  2010-01-01     Acre    0.000
53  2011-01-01     Acre    0.000
54  2012-01-01     Acre    1.000
55  2013-01-01     Acre    2.000
56  2014-01-01     Acre    1.000
57  2015-01-01     Acre    2.000
58  2016-01-01     Acre    0.000
59  2017-01-01     Acre    0.000
60  1998-01-01     Acre    0.000
61  1999-01-01     Acre    0.000
62  2000-01-01     Acre    1.000
63  2001-01-01     Acre    0.000
64  2002-01-01     Acre    0.000
65  2003-01-01     Acre    1.000
66  2004-01-01     Acre    2.000
67  2005-01-01     Acre    1.000
68  2006-01-01     Acre    0.000
69  2007-01-01     Acre    0.000
70  2008-01-01     Acre    0.000
71  2009-01-01     Acre    0.000
72  2010-01-01     Acre    3.000
73  2011-01-01     Acre    2.000
74  2012-01-01     Acre    1.000
75  2013-01-01     Acre   19.000
76  2014-01-01     Acre    7.000
77  2015-01-01     Acre    3.000
78  2016-01-01     Acre    0.000
79  2017-01-01     Acre    1.000
80  1998-01-01     Acre    0.000
81  1999-01-01     Acre    0.000
82  2000-01-01     Acre    1.000
83  2001-01-01     Acre    0.000
84  2002-01-01     Acre    0.000
85  2003-01-01     Acre    6.000
86  2004-01-01     Acre    7.000
87  2005-01-01     Acre    2.000
88  2006-01-01     Acre    8.000
89  2007-01-01     Acre    1.000
90  2008-01-01     Acre    0.000
91  2009-01-01     Acre    3.000
92  2010-01-01     Acre    9.000
93  2011-01-01     Acre    3.000
94  2012-01-01     Acre    3.000
95  2013-01-01     Acre    4.000
96  2014-01-01     Acre    1.000
97  2015-01-01     Acre    2.000
98  2016-01-01     Acre   21.000
99  2017-01-01     Acre   10.000
100 1998-01-01     Acre    3.000
101 1999-01-01     Acre    0.000
102 2000-01-01     Acre    1.000
103 2001-01-01     Acre    1.000
104 2002-01-01     Acre    0.000
105 2003-01-01     Acre    0.000
106 2004-01-01     Acre    5.000
107 2005-01-01     Acre   27.000
108 2006-01-01     Acre    1.000
109 2007-01-01     Acre    4.000
110 2008-01-01     Acre    0.000
111 2009-01-01     Acre    0.000
112 2010-01-01     Acre    1.000
113 2011-01-01     Acre   10.000
114 2012-01-01     Acre    7.000
115 2013-01-01     Acre    8.000
116 2014-01-01     Acre   17.000
117 2015-01-01     Acre   40.000
118 2016-01-01     Acre   87.000
119 2017-01-01     Acre   45.000
120 1998-01-01     Acre   37.000
121 1999-01-01     Acre    1.000
122 2000-01-01     Acre    1.000
123 2001-01-01     Acre    3.000
124 2002-01-01     Acre   39.000
125 2003-01-01     Acre  168.000
126 2004-01-01     Acre   42.000
127 2005-01-01     Acre  368.000
128 2006-01-01     Acre   33.000
129 2007-01-01     Acre   29.000
130 2008-01-01     Acre   41.000
131 2009-01-01     Acre   31.000
132 2010-01-01     Acre  126.000
133 2011-01-01     Acre   93.000
134 2012-01-01     Acre   71.000
135 2013-01-01     Acre   54.000
136 2014-01-01     Acre   60.000
137 2015-01-01     Acre  109.000
138 2016-01-01     Acre  533.000
139 2017-01-01     Acre  457.000
140 1998-01-01     Acre  130.000
141 1999-01-01     Acre   63.000
142 2000-01-01     Acre  136.000
143 2001-01-01     Acre  396.000
144 2002-01-01     Acre  728.000
145 2003-01-01     Acre    1.976
146 2004-01-01     Acre  645.000
147 2005-01-01     Acre    4.198
148 2006-01-01     Acre  839.000
149 2007-01-01     Acre  960.000
150 2008-01-01     Acre  445.000
151 2009-01-01     Acre  194.000
152 2010-01-01     Acre    1.682
153 2011-01-01     Acre  425.000
154 2012-01-01     Acre  739.000
155 2013-01-01     Acre  679.000
156 2014-01-01     Acre    1.100
157 2015-01-01     Acre    1.397
158 2016-01-01     Acre    2.188
159 2017-01-01     Acre    1.493
160 1998-01-01     Acre  509.000
161 1999-01-01     Acre  209.000
162 2000-01-01     Acre  265.000
163 2001-01-01     Acre  290.000
164 2002-01-01     Acre    1.949
165 2003-01-01     Acre    3.942
166 2004-01-01     Acre    1.978
167 2005-01-01     Acre    4.253
168 2006-01-01     Acre    2.370
169 2007-01-01     Acre    2.080
170 2008-01-01     Acre    1.666
171 2009-01-01     Acre    1.265
172 2010-01-01     Acre    2.531
173 2011-01-01     Acre    1.204
174 2012-01-01     Acre    1.996
175 2013-01-01     Acre    2.136
176 2014-01-01     Acre    2.175
177 2015-01-01     Acre    2.928
178 2016-01-01     Acre    3.586
179 2017-01-01     Acre    3.429
180 1998-01-01     Acre   44.000
181 1999-01-01     Acre   60.000
182 2000-01-01     Acre   18.000
183 2001-01-01     Acre  137.000
184 2002-01-01     Acre  687.000
185 2003-01-01     Acre  740.000
186 2004-01-01     Acre  461.000
187 2005-01-01     Acre  547.000
188 2006-01-01     Acre  316.000
189 2007-01-01     Acre  203.000
190 2008-01-01     Acre  652.000
191 2009-01-01     Acre  565.000
192 2010-01-01     Acre  292.000
193 2011-01-01     Acre   97.000
194 2012-01-01     Acre  348.000
195 2013-01-01     Acre  258.000
196 2014-01-01     Acre  406.000
197 2015-01-01     Acre  905.000
198 2016-01-01     Acre  509.000
199 2017-01-01     Acre    1.508
200 1998-01-01     Acre    0.000
201 1999-01-01     Acre    0.000
202 2000-01-01     Acre    0.000
203 2001-01-01     Acre    1.000
204 2002-01-01     Acre   86.000
205 2003-01-01     Acre   15.000
206 2004-01-01     Acre   10.000
207 2005-01-01     Acre   14.000
208 2006-01-01     Acre   18.000
209 2007-01-01     Acre    7.000
210 2008-01-01     Acre    4.000
211 2009-01-01     Acre   33.000
212 2010-01-01     Acre   39.000
213 2011-01-01     Acre   74.000
214 2012-01-01     Acre   13.000
215 2013-01-01     Acre   79.000
216 2014-01-01     Acre   56.000
217 2015-01-01     Acre  115.000
218 2016-01-01     Acre   46.000
219 2017-01-01     Acre   98.000
220 1998-01-01     Acre    7.000
221 1999-01-01     Acre    0.000
222 2000-01-01     Acre    0.000
223 2001-01-01     Acre    0.000
224 2002-01-01     Acre    1.000
225 2003-01-01     Acre    1.000
226 2004-01-01     Acre    7.000
227 2005-01-01     Acre    2.000
228 2006-01-01     Acre    0.000
229 2007-01-01     Acre    0.000
230 2008-01-01     Acre    0.000
231 2009-01-01     Acre    1.000
232 2010-01-01     Acre    0.000
233 2011-01-01     Acre    4.000
234 2012-01-01     Acre    1.000
235 2013-01-01     Acre    3.000
236 2014-01-01     Acre    6.000
237 2015-01-01     Acre    8.000
238 2016-01-01     Acre    6.000
239 1998-01-01  Alagoas    0.000
240 1999-01-01  Alagoas   58.000
241 2000-01-01  Alagoas   11.000
242 2001-01-01  Alagoas    5.000
243 2002-01-01  Alagoas   12.000
244 2003-01-01  Alagoas  150.000
245 2004-01-01  Alagoas    9.000
246 2005-01-01  Alagoas   83.000
247 2006-01-01  Alagoas   29.000
248 2007-01-01  Alagoas   33.000
249 2008-01-01  Alagoas   55.000
250 2009-01-01  Alagoas  104.000
251 2010-01-01  Alagoas   23.000
252 2011-01-01  Alagoas   41.000
253 2012-01-01  Alagoas   36.000
254 2013-01-01  Alagoas   49.000
255 2014-01-01  Alagoas   54.000
256 2015-01-01  Alagoas   81.000
257 2016-01-01  Alagoas   24.000
258 2017-01-01  Alagoas   38.000
259 2017-01-01  Alagoas   38.000
260 1998-01-01  Alagoas    0.000
261 1999-01-01  Alagoas   20.000
262 2000-01-01  Alagoas   16.000
263 2001-01-01  Alagoas    4.000
264 2002-01-01  Alagoas   15.000
265 2003-01-01  Alagoas   33.000
266 2004-01-01  Alagoas    7.000
267 2005-01-01  Alagoas   31.000
268 2006-01-01  Alagoas   14.000
269 2007-01-01  Alagoas   28.000
270 2008-01-01  Alagoas   74.000
271 2009-01-01  Alagoas   32.000
272 2010-01-01  Alagoas   26.000
273 2011-01-01  Alagoas   33.000
274 2012-01-01  Alagoas   41.000
275 2013-01-01  Alagoas   19.000
276 2014-01-01  Alagoas   29.000
277 2015-01-01  Alagoas   46.000
278 2016-01-01  Alagoas   14.000
279 2017-01-01  Alagoas   21.000
280 1998-01-01  Alagoas    0.000
281 1999-01-01  Alagoas   52.000
282 2000-01-01  Alagoas   32.000
283 2001-01-01  Alagoas    0.000
284 2002-01-01  Alagoas   27.000
285 2003-01-01  Alagoas   15.000
286 2004-01-01  Alagoas   16.000
287 2005-01-01  Alagoas   35.000
288 2006-01-01  Alagoas   37.000
289 2007-01-01  Alagoas    7.000
290 2008-01-01  Alagoas   31.000
291 2009-01-01  Alagoas   31.000
292 2010-01-01  Alagoas   70.000
293 2011-01-01  Alagoas   34.000
294 2012-01-01  Alagoas   44.000
295 2013-01-01  Alagoas   31.000
296 2014-01-01  Alagoas   28.000
297 2015-01-01  Alagoas   32.000
298 2016-01-01  Alagoas    9.000
299 2017-01-01  Alagoas   23.000
300 1998-01-01  Alagoas    0.000
301 1999-01-01  Alagoas    4.000
302 2000-01-01  Alagoas   20.000
303 2001-01-01  Alagoas    0.000
304 2002-01-01  Alagoas    6.000
305 2003-01-01  Alagoas   20.000
306 2004-01-01  Alagoas    6.000
307 2005-01-01  Alagoas    1.000
308 2006-01-01  Alagoas    2.000
309 2007-01-01  Alagoas    1.000
310 2008-01-01  Alagoas   18.000
311 2009-01-01  Alagoas    5.000
312 2010-01-01  Alagoas    3.000
313 2011-01-01  Alagoas   17.000
314 2012-01-01  Alagoas   18.000
315 2013-01-01  Alagoas   25.000
316 2014-01-01  Alagoas   16.000
317 2015-01-01  Alagoas   63.000
318 2016-01-01  Alagoas   13.000
319 2017-01-01  Alagoas    7.000
320 1998-01-01  Alagoas    0.000
321 1999-01-01  Alagoas    1.000
322 2000-01-01  Alagoas    1.000
323 2001-01-01  Alagoas    2.000
324 2002-01-01  Alagoas    1.000
325 2003-01-01  Alagoas    1.000
326 2004-01-01  Alagoas    3.000
327 2005-01-01  Alagoas    0.000
328 2006-01-01  Alagoas    0.000
329 2007-01-01  Alagoas    0.000
330 2008-01-01  Alagoas    0.000
331 2009-01-01  Alagoas    0.000
332 2010-01-01  Alagoas    0.000
333 2011-01-01  Alagoas    0.000
334 2012-01-01  Alagoas   21.000
335 2013-01-01  Alagoas    2.000
336 2014-01-01  Alagoas    1.000
337 2015-01-01  Alagoas   18.000
338 2016-01-01  Alagoas    4.000
339 2017-01-01  Alagoas    1.000
340 1998-01-01  Alagoas    0.000
341 1999-01-01  Alagoas    0.000
342 2000-01-01  Alagoas    0.000
343 2001-01-01  Alagoas    2.000
344 2002-01-01  Alagoas    0.000
345 2003-01-01  Alagoas    0.000
346 2004-01-01  Alagoas    0.000
347 2005-01-01  Alagoas    0.000
348 2006-01-01  Alagoas    0.000
349 2007-01-01  Alagoas    0.000
350 2008-01-01  Alagoas    0.000
351 2009-01-01  Alagoas    0.000
352 2010-01-01  Alagoas    0.000
353 2011-01-01  Alagoas    2.000
354 2012-01-01  Alagoas    4.000
355 2013-01-01  Alagoas    1.000
356 2014-01-01  Alagoas    2.000
357 2015-01-01  Alagoas    2.000
358 2016-01-01  Alagoas    5.000
359 2017-01-01  Alagoas    2.000
360 1998-01-01  Alagoas    0.000
361 1999-01-01  Alagoas    0.000
362 2000-01-01  Alagoas    0.000
363 2001-01-01  Alagoas    0.000
364 2002-01-01  Alagoas    5.000
365 2003-01-01  Alagoas    0.000
366 2004-01-01  Alagoas    0.000
367 2005-01-01  Alagoas    0.000
368 2006-01-01  Alagoas    0.000
369 2007-01-01  Alagoas    0.000
370 2008-01-01  Alagoas    0.000
371 2009-01-01  Alagoas    0.000
372 2010-01-01  Alagoas    2.000
373 2011-01-01  Alagoas    0.000
374 2012-01-01  Alagoas    0.000
375 2013-01-01  Alagoas    0.000
376 2014-01-01  Alagoas    1.000
377 2015-01-01  Alagoas    0.000
378 2016-01-01  Alagoas    3.000
379 2017-01-01  Alagoas    0.000
380 1998-01-01  Alagoas    1.000
381 1999-01-01  Alagoas    3.000
382 2000-01-01  Alagoas    4.000
383 2001-01-01  Alagoas    1.000
384 2002-01-01  Alagoas    3.000
385 2003-01-01  Alagoas    2.000
386 2004-01-01  Alagoas    2.000
387 2005-01-01  Alagoas    2.000
388 2006-01-01  Alagoas    1.000
389 2007-01-01  Alagoas    3.000
390 2008-01-01  Alagoas    1.000
391 2009-01-01  Alagoas    0.000
392 2010-01-01  Alagoas    1.000
393 2011-01-01  Alagoas    4.000
394 2012-01-01  Alagoas    0.000
395 2013-01-01  Alagoas    0.000
396 2014-01-01  Alagoas    3.000
397 2015-01-01  Alagoas    3.000
398 2016-01-01  Alagoas    5.000
399 2017-01-01  Alagoas    1.000
400 1998-01-01  Alagoas   14.000
401 1999-01-01  Alagoas    3.000
402 2000-01-01  Alagoas   22.000
403 2001-01-01  Alagoas    5.000
404 2002-01-01  Alagoas   14.000
405 2003-01-01  Alagoas    8.000
406 2004-01-01  Alagoas    5.000
407 2005-01-01  Alagoas    7.000
408 2006-01-01  Alagoas    4.000
409 2007-01-01  Alagoas    2.000
410 2008-01-01  Alagoas    9.000
411 2009-01-01  Alagoas   13.000
412 2010-01-01  Alagoas    5.000
413 2011-01-01  Alagoas    5.000
414 2012-01-01  Alagoas    6.000
415 2013-01-01  Alagoas    4.000
416 2014-01-01  Alagoas   11.000
417 2015-01-01  Alagoas    7.000
418 2016-01-01  Alagoas   18.000
419 2017-01-01  Alagoas    4.000
420 1998-01-01  Alagoas   20.000
421 1999-01-01  Alagoas    4.000
422 2000-01-01  Alagoas   13.000
423 2001-01-01  Alagoas   15.000
424 2002-01-01  Alagoas   30.000
425 2003-01-01  Alagoas   10.000
426 2004-01-01  Alagoas   12.000
427 2005-01-01  Alagoas   17.000
428 2006-01-01  Alagoas   32.000
429 2007-01-01  Alagoas    6.000
430 2008-01-01  Alagoas   18.000
431 2009-01-01  Alagoas   30.000
432 2010-01-01  Alagoas   16.000
433 2011-01-01  Alagoas   23.000
434 2012-01-01  Alagoas   28.000
435 2013-01-01  Alagoas   25.000
436 2014-01-01  Alagoas    7.000
437 2015-01-01  Alagoas   40.000
438 2016-01-01  Alagoas   74.000
439 2017-01-01  Alagoas   14.000
440 1998-01-01  Alagoas   19.000
441 1999-01-01  Alagoas   15.000
442 2000-01-01  Alagoas    2.000
443 2001-01-01  Alagoas   22.000
444 2002-01-01  Alagoas   50.000
445 2003-01-01  Alagoas   17.000
446 2004-01-01  Alagoas   28.000
447 2005-01-01  Alagoas   25.000
448 2006-01-01  Alagoas   12.000
449 2007-01-01  Alagoas   15.000
450 2008-01-01  Alagoas   37.000
451 2009-01-01  Alagoas   55.000
452 2010-01-01  Alagoas   31.000
453 2011-01-01  Alagoas   23.000
454 2012-01-01  Alagoas   95.000
455 2013-01-01  Alagoas   10.000
456 2014-01-01  Alagoas   14.000
457 2015-01-01  Alagoas  162.000
458 2016-01-01  Alagoas   76.000
459 2017-01-01  Alagoas   10.000
460 1998-01-01  Alagoas   32.000
461 1999-01-01  Alagoas   12.000
462 2000-01-01  Alagoas    2.000
463 2001-01-01  Alagoas   30.000
464 2002-01-01  Alagoas   95.000
465 2003-01-01  Alagoas   43.000
466 2004-01-01  Alagoas   71.000
467 2005-01-01  Alagoas   16.000
468 2006-01-01  Alagoas   30.000
469 2007-01-01  Alagoas   33.000
470 2008-01-01  Alagoas   34.000
471 2009-01-01  Alagoas   55.000
472 2010-01-01  Alagoas   45.000
473 2011-01-01  Alagoas   50.000
474 2012-01-01  Alagoas   59.000
475 2013-01-01  Alagoas   42.000
476 2014-01-01  Alagoas   24.000
477 2015-01-01  Alagoas  136.000
478 2016-01-01  Alagoas  155.000
479 1998-01-01    Amapá    0.000
480 1999-01-01    Amapá    0.000
481 2000-01-01    Amapá    2.000
482 2001-01-01    Amapá    0.000
483 2002-01-01    Amapá    7.000
484 2003-01-01    Amapá   31.000
485 2004-01-01    Amapá   38.000
486 2005-01-01    Amapá  109.000
487 2006-01-01    Amapá    6.000
488 2007-01-01    Amapá    0.000
489 2008-01-01    Amapá    2.000
490 2009-01-01    Amapá    4.000
491 2010-01-01    Amapá    2.000
492 2011-01-01    Amapá    0.000
493 2012-01-01    Amapá   30.000
494 2013-01-01    Amapá    3.000
495 2014-01-01    Amapá   10.000
496 2015-01-01    Amapá   14.000
497 2016-01-01    Amapá   19.000
498 2017-01-01    Amapá    2.000
499 1998-01-01    Amapá    0.000

In [7]:
states.crs

{'init': 'epsg:4326'}

In [8]:
fire_data.shape

(6454, 3)

In [9]:
fdm_merged = fire_data.merge(states, how='left', left_on='state', right_on='name', indicator=True)
fdm_merged.head()

,date,state,number,name,geometry,_merge
0,1998-01-01,Acre,0.0,Acre,"MULTIPOLYGON (((-73.60818 -7.20194, -72.86963 ...",both
1,1999-01-01,Acre,0.0,Acre,"MULTIPOLYGON (((-73.60818 -7.20194, -72.86963 ...",both
2,2000-01-01,Acre,0.0,Acre,"MULTIPOLYGON (((-73.60818 -7.20194, -72.86963 ...",both
3,2001-01-01,Acre,0.0,Acre,"MULTIPOLYGON (((-73.60818 -7.20194, -72.86963 ...",both
4,2002-01-01,Acre,0.0,Acre,"MULTIPOLYGON (((-73.60818 -7.20194, -72.86963 ...",both

In [10]:
fdm_merged = fdm_merged.reset_index(drop=True)
fdm_merged.loc[fdm_merged['_merge'] == 'left_only', ['state']]['state'].unique()

array([], dtype=object)

In [11]:
fdm_merged.shape

(6454, 6)

In [12]:
fdm_merged.__class__

pandas.core.frame.DataFrame

In [13]:
fdm2 = gpd.GeoDataFrame(fdm_merged, geometry='geometry')

In [14]:
fdm2.head()

,date,state,number,name,geometry,_merge
0,1998-01-01,Acre,0.0,Acre,"MULTIPOLYGON (((-73.60818 -7.20194, -72.86963 ...",both
1,1999-01-01,Acre,0.0,Acre,"MULTIPOLYGON (((-73.60818 -7.20194, -72.86963 ...",both
2,2000-01-01,Acre,0.0,Acre,"MULTIPOLYGON (((-73.60818 -7.20194, -72.86963 ...",both
3,2001-01-01,Acre,0.0,Acre,"MULTIPOLYGON (((-73.60818 -7.20194, -72.86963 ...",both
4,2002-01-01,Acre,0.0,Acre,"MULTIPOLYGON (((-73.60818 -7.20194, -72.86963 ...",both

In [15]:
fdm2.crs = states.crs
fdm2.crs

{'init': 'epsg:4326'}

In [16]:
fdm2 = fdm2.drop('name', axis=1)
fdm2 = fdm2.drop('_merge', axis=1)

In [17]:
fdm2.head()

        date state  number                                           geometry
0 1998-01-01  Acre     0.0  MULTIPOLYGON (((-73.60818 -7.20194, -72.86963 ...
1 1999-01-01  Acre     0.0  MULTIPOLYGON (((-73.60818 -7.20194, -72.86963 ...
2 2000-01-01  Acre     0.0  MULTIPOLYGON (((-73.60818 -7.20194, -72.86963 ...
3 2001-01-01  Acre     0.0  MULTIPOLYGON (((-73.60818 -7.20194, -72.86963 ...
4 2002-01-01  Acre     0.0  MULTIPOLYGON (((-73.60818 -7.20194, -72.86963 ...

In [18]:
w1 = keplergl.KeplerGl(height=300)

User Guide: https://github.com/keplergl/kepler.gl/blob/master/docs/keplergl-jupyter/user-guide.md

In [ ]:
w1.add_data(data=fdm2, name="fires")

In [ ]:
fdm2.to_file("fires_by_year.csv", driver='CSV')